* {
    box-sizing: border-box;
}

.mail-app-main {
    flex-direction: column;
}

@media (min-width:650px) {
    .mail-app-main {
        flex-direction: row;
    }
    .mail-app-container {
        width: 100%;
        margin: 0;
        background-color: whitesmoke;
        font-family: sans-serif;
        justify-content: space-between;
    }
    .mail-app-main {
        width: 100%;
        height: 100vh;
    }
}