.mail-details {
    padding-top: 20px;
    padding-left: 20px;
    text-align: left;
    width: 100%;
}

.details-btns {
    justify-content: space-between;
}

.details-btns button {
    border: none;
    cursor: pointer;
}

.right-btns {
    display: flex;
    gap: 10px;
    height: 20px;
    margin-inline-end: 30px;
}

button {
    background-color: transparent;
}

.star-img,
.envelope-img,
.trash-img {
    height: 20px;
}

.mail-details-content {}

.mail-details-header {
    display: flex;
    align-items: center;
    gap: 50px;
}

.mail-details-subject {}

.mail-details-body {}