.hero img {
    object-fit: cover;
    height: 88vh;
    width: 100%;
}

.app-home .hero-link {
    font-size: 4em;
    text-shadow: -2px 4px 6px rgba(39, 39, 39, 0.6);
    color: rgb(88, 88, 88);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: initial;
}

.gallery-container {
    display: flex;
    flex-direction: column;
}

.feature-header {
    background-color: rgb(243, 203, 129);
    font-size: 2.5rem;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: -5px auto 30px;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.app-card {
    border: 1px solid rgb(177, 177, 177);
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-bottom: 30px;
}

.home-img-container {
    width: 40vw;
    align-self: center;
}

.home-img-container img {
    width: 80%;
    object-fit: cover;
}

.app-card a {
    align-self: center;
}

.app-card a button {
    font-size: 1.5em;
    margin-top: 20px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    background-color: rgb(243, 203, 129);
    border: none;
}

.app-card a button:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(216, 131, 61);
}

.app-card p {
    font-size: 1.5rem;
}

@media (min-width: 650px) {
    .app-home .hero-link {
        font-size: 6em;
    }
    .app-container {
        flex-direction: row;
        justify-content: center;
        align-items: unset;
    }
    .app-card {
        width: 40vw;
    }
}