.header-container {
    background-color: rgb(243, 203, 129);
    position: relative;
}

.main-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: flex;
    align-items: center;
    visibility: hidden;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* .dropdown-content a:hover {
    background-color: #f1f1f1;
} */

.main-menu:hover .dropdown-content {
    visibility: visible;
}

.menu-btn {
    background: url(../../assets/svg/menu/menu.svg) center no-repeat;
    background-size: 3em;
    border: none;
    cursor: pointer;
    height: 70px;
    width: 70px;
}

.dropdown-content .btn {
    background-size: 3em;
    border: none;
    cursor: pointer;
    height: 60px;
    width: 60px;
    border-radius: 10px;
    margin: 20px 10px;
}

.keep-btn {
    background: url(../../assets/svg/menu/keep.svg) center no-repeat;
}

.keep-btn:hover {
    background: url(../../assets/svg/menu/keep-selected.svg) center no-repeat;
    background-size: 40px;
}
.mail-btn {
    background: url(../../assets/svg/menu/email.svg) center no-repeat;
}

.mail-btn:hover {
    background: url(../../assets/svg/menu/email-selected.svg) center no-repeat;
    background-size: 40px;
}

.books-btn {
    background: url(../../assets/svg/menu/books.svg) center no-repeat;
}

.books-btn:hover {
    background: url(../../assets/svg/menu/books-selected.svg) center no-repeat;
    background-size: 40px;
}

.about-btn {
    background: url(../../assets/svg/menu/about.svg) center no-repeat;
}

.about-btn:hover {
    background: url(../../assets/svg/menu/about-selected.svg) center no-repeat;
    background-size: 40px;
}


/* a {
    text-decoration: none;
    color: inherit;
}

nav a:not(:last-child) {
    margin-inline-end: 20px;
} */