.header-container {
    background-color: rgb(243, 203, 129);
    position: relative;
    z-index: 3;
}

a {
    text-decoration: none;
    color: inherit;
}

nav a:not(:last-child) {
    margin-inline-end: 20px;
}