.side-bar {
    height: 70vh;
    width: 50%;
    position: fixed;
    transform: translate(-150%);
    box-shadow: 36px 6px 89px 12px rgba(0, 0, 0, 0.75);
}

.side-bar.nav-menu-open {
    transform: translate(0);
}

.side-bar.side-bar.nav-menu-open .compose-btn {
    display: none;
}

.mail-nav {
    height: 100%;
    padding: 0;
    list-style-type: none;
    background-color: white;
    gap: 10px;
}

.mail-nav li:not(:first-child) {
    margin: auto 0;
}

.compose-btn {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.mail-nav-links {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    height: 90%;
}

.mail-nav-links>li {
    height: 100%;
    width: 100%;
    flex-grow: 1;
    border-radius: 10px 49px 51px 10px;
}

.mail-nav-links .back-button {
    align-self: center;
    cursor: pointer;
    border: none;
}

@media (min-width: 650px) {
    .mail-nav .compose-btn {
        background-color: whitesmoke;
        position: unset;
        display: block;
    }
    .side-bar {
        box-shadow: unset;
        height: unset;
        width: unset;
        padding: 0;
        padding-inline-start: 10px;
        padding-inline-end: 20px;
        position: unset;
        width: unset;
        transform: unset;
    }
    .side-bar.nav-menu-open {
        transform: unset;
    }
    .mail-nav {
        height: unset;
        transform: unset;
        box-shadow: unset;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 0;
        /* padding-right: 10px; */
        font-size: 1.2rem;
        text-align: left;
        list-style-type: none;
        background-color: whitesmoke;
        width: 15vw;
    }
    .mail-nav .back-button {
        align-self: center;
        display: none;
    }
    .mail-nav>* {
        width: 100%;
    }
    .mail-nav-links {
        align-items: flex-start;
        gap: 10px;
        padding-inline-start: unset;
        padding-inline-start: 30px;
    }
    .mail-nav-links>li:hover {
        background-color: rgb(243, 203, 129);
    }
}