.mail-preview {
    display: flex;
    align-items: center;
    font-weight: bold;
    padding: 10px;
    gap: 10px;
    box-shadow: 1px -5px 5px -7px rgba(0, 0, 0, 0.75) inset;
}

.mail-preview {
    list-style-type: none;
}

.mail-preview:hover {
    /* background-color: rgb(230, 230, 230); */
    box-shadow: 0px -1px 2px 1px rgba(173, 173, 173, 0.75) inset;
}

.mail-preview.read {
    font-weight: normal;
}

.mail-preview .mail-preview-link {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    /* align-items: center; */
    cursor: pointer;
    width: 100%;
}

.preview-btns {
    display: flex;
    gap: 5px;
}