.side-bar {
    height: 90vh;
    width: 50%;
    position: fixed;
}

.mail-nav {
    padding: 0;
    list-style-type: none;
    background-color: white;
    box-shadow: 4px 0px 5px 0px rgba(0, 0, 0, 0.75);
    /* transform: translate(-100%); */
}

.mail-nav li:not(:first-child) {
    margin: auto 0;
}

.mail-nav li:not(:first-child)>a {
    /* height: 100%;
    width: 100%; */
}

.mail-nav li:first-child {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.screen {
    position: fixed;
    top: 4.375rem;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #4a4a4a7d;
    display: none;
    pointer-events: none;
}

@media (min-width: 650px) {
    .side-bar {
        /* display: flex; */
        padding: 0;
        padding-inline-start: 30px;
        position: unset;
        width: unset;
    }
    .mail-nav {
        height: unset;
        transform: unset;
        box-shadow: unset;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 0;
        padding-right: 10px;
        font-size: 1.2rem;
        text-align: left;
        list-style-type: none;
        background-color: whitesmoke;
        gap: 15px;
        width: 12vw;
    }
    .mail-nav>* {
        width: 100%;
    }
    .mail-nav li>a {
        width: 100%;
        height: 100%;
    }
    .mail-nav li:first-child {
        position: unset;
    }
    .mail-nav li:not(:first-child) {
        border-radius: 10px 101px 101px 0px;
        padding-left: 10px;
    }
    .mail-nav li:not(:first-child):hover {
        cursor: pointer;
        background-color: rgb(243, 203, 129);
    }
}