.mail-preview {
    font-weight: bold;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 5px;
}

.mail-preview:hover {
    /* background-color: rgb(230, 230, 230); */
    box-shadow: 0px -1px 2px 1px rgba(173, 173, 173, 0.75) inset;
}

.mail-preview.read {
    font-weight: normal;
}