.mail-compose {
    display: flex;
    flex-direction: column;
    border: 1px gray solid;
    max-height: 60vh;
    max-width: 60vw;
    background-color: whitesmoke;
    position: fixed;
    bottom: 55px;
    right: 10px;
    border-radius: 5px;
}

.send-btn {
    border: none;
    padding: 5px;
    background-color: rgb(243, 203, 129);
    cursor: pointer;
    border-radius: 0px 0px 10px 10px;
}

.compose-header {
    justify-content: space-between;
    padding: 5px;
}

.compose-header button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.mail-compose input {
    border: none;
    border-bottom: 1px gray solid;
    padding: 5px;
    width: 100%;
}

.mail-compose textarea {
    border: none;
    height: 50vh;
    width: 60vw;
    border: none;
}

.compose-btn {
    border-radius: 20px;
    padding: 20px;
}