.mail-search {
    margin-top: 10px;
    align-self: center;
    gap: 5px;
}

.search-form {
    gap: 5px;
}

.mail-search input {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
    width: 300px;
    padding: 10px;
}

.mail-search select {
    background-color: rgb(243, 243, 243);
    border-radius: 5px;
}

.hamburger-btn {
    margin-inline-end: 30px;
    width: 50px;
    border-radius: 5px;
    cursor: pointer;
}

@media (min-width: 650px) {
    .mail-search input {
        background-color: rgb(243, 243, 243);
        width: 500px;
    }
    .hamburger-btn {
        display: none;
    }
}