@import url(./icons.css);
.new-note {
    margin: 10px;
}

.notes-list {
    margin: 20px 30px;
    flex-wrap: wrap;
    align-items: flex-start;
}

.note {
    /* flex: 1 1; */
    min-height: 150px;
    width: 90vw;
    margin: 5px;
    border: 2px solid rgb(223, 223, 223);
    border-radius: 7px;
    padding: 15px;
    position: relative;
}

.note:hover {
    border: 2px solid rgb(185, 185, 185);
}

.todos {
    text-align: left;
}

.todo .done {
    text-decoration: line-through;
}

.note-content {
    margin: 0 auto 40px;
}

.note-content h3, .note-content p {
    margin: 0 auto 10px;
}

.note-img {
    width: 100%;
    object-fit: contain;
}

.note-pinned p, .note-pinned h3, .note-pinned .note-img, .note-pinned iframe {
    margin-inline-end: 20px;
}

.pinned {
    height: 20px;
    position: absolute;
    right: 5px;
}

iframe {
    width: 100%;
    height: 50vw;
}

.note-footer {
    display: flex;
    align-items: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
}

.note-footer .note-type {
    height: 18px;
    margin-inline-end: 20px;
}

.note-controls {
    display: flex;
    opacity: 0;
    transition: opacity .2s ease-in-out;
}

.note:hover .note-controls {
    opacity: 1;
}

@media (min-width: 650px) {
    .note {
        width: unset;
        min-width: 240px;
        max-width: 350px;
    }
    iframe {
        height: 160px;
    }
}

/* CHOOSE NOTE COLOR */

.choose-color {
    visibility: hidden;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -100px;
    right: 20px;
    width: 150px;
    height: 100px;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    cursor:initial;
}
.choose-color.active {
    visibility: visible;
}

.choose-color-btn {
    margin: 4px;
    height: 24px;
    width: 24px;
    border: 1.8px solid transparent;
    border-radius: 50%;
    cursor: pointer;
}

.choose-color-btn:hover {
    border: 1.8px solid rgb(121, 119, 119) !important;
}

.choose-color-btn.green {
    background-color: #ccff90;
}

.choose-color-btn.red {
    background-color: #f28b82;
}

.choose-color-btn.yellow {
    background-color: #fff475;
}

.choose-color-btn.teal {
    background-color: #a7ffeb;
}

.choose-color-btn.blue {
    background-color: #aecbfa;
}


.choose-color-btn.pink {
    background-color: #fdcfe8;
}

.choose-color-btn.purple {
    background-color: #d7aefb;
}

.choose-color-btn.white {
    border: 0.5px solid rgb(121, 119, 119);
}