@import url(./icons.css);

.new-note {
    margin: 10px;
}

.notes-list {
    flex-wrap: wrap;
    align-items: flex-start;
}

.note {
    /* flex: 1 1; */
    min-width: 200px;
    max-width: 350px;
    min-height: 200px;
    margin: 5px;
    border: 0.5px solid black;
    border-radius: 7px;
    padding: 15px;
    position: relative;
}

.todos {
    text-align: left;
}

.todo .done {
    text-decoration: line-through;
}

.note h3, .note p {
    margin-top: 0;
}

.note-img {
    width: 100%;
    object-fit: contain;
}

.note-pinned p, .note-pinned h3, .note-pinned .note-img, .note-pinned iframe {
    margin-inline-end: 20px;
}

.pinned {
    height: 20px;
    position: absolute;
    /* left: 0; */
    right: 5px;
}

iframe {
    width: 100%;
    height: 200px;
    /* height: 300px; */
}

.note-footer {
    display: flex;
    align-items: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
}

.note-footer .note-type {
    height: 18px;
    margin-inline-end: 20px;
}

.note-controls {
    display: flex;
}