@import url(./icons.css);

.new-note {
    width: 350px;
    margin: 0 auto;
}

.new-note input {
    height: 2em;
}

.new-note input, textarea {
    padding: 5px;
    width: 100%;
    font-size: 1em;
    border-radius: 7px;
    border: 1px solid grey;
}

.new-note input {
    display: block;
    margin: 0 auto;
}

.new-note-controls {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.choose-type {
    display: flex;
}

.control-buttons button {
    font-size: 1em;
    border: none;
    font-family: Open-Sans-semibold;
    background-color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 0.4em;
}

.control-buttons button:hover {
    background-color: rgb(229, 226, 226);
}